<template>
  <div>
    <h2>Historial de Abonos</h2>
    <div class="form-group row border">
      <div class="col-md-6">
        <div class="form-group">
          <label for>Cliente</label>
          <p v-text="cliente"></p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for>Fecha</label>
          <p v-text="fecha_hora"></p>
        </div>
      </div>
      <div class="col-md-3">
        <label for>Impuesto</label>
        <p v-text="impuesto"></p>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Tipo Comprobante</label>
          <p v-text="tipo_comprobante"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Serie Comprobante</label>
          <p v-text="serie_comprobante"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Número Comprobante</label>
          <p v-text="num_comprobante"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Saldo Pendiente</label>
          <p v-text="saldo"></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Total de la Compra</label>
          <p v-text="total"></p>
        </div>
      </div>
    </div>
    <div class="form-group row border">
      <div class="table-responsive col-md-12">
        <h3>Abonos</h3>
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Número del comprobante</th>
              <th>Serie del Comprobante</th>
              <th>Serie del Abono</th>
              <th>Abono Realizado</th>
              <th>Saldo Pendiente</th>
              <th>Total de la compra</th>
              <th>Fecha del abono</th>
              <th>Descripción</th>
            </tr>
          </thead>
          <tbody v-if="arrayAbonos.length">
            <tr v-for="abono in arrayAbonos" :key="abono.id">
              <td v-text="abono.num_comprobante"></td>
              <td v-text="abono.serie_comprobante"></td>
              <td v-text="abono.numnota"></td>
              <td v-text="abono.abono"></td>
              <td>{{abono.total-abono.abono}}</td>
              <td v-text="abono.total"></td>
              <td v-text="abono.fechaabono"></td>
              <td v-text="abono.descripcion"></td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="8">No se encontraron abonos</td>
            </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item" v-if="pagination.current_page > 1">
              <a
                class="page-link"
                href="#"
                @click.prevent="cambiarPagina(pagination.current_page - 1)"
              >Ant</a>
            </li>
            <li
              class="page-item"
              v-for="page in pagesNumber"
              :key="page"
              :class="[page == isActived ? 'active' : '']"
            >
              <a class="page-link" href="#" @click.prevent="cambiarPagina(page)" v-text="page"></a>
            </li>
            <li class="page-item" v-if="pagination.current_page < pagination.last_page">
              <a
                class="page-link"
                href="#"
                @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)"
              >Sig</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="form-group row border">
      <div class="table-responsive col-md-12">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Artículo</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Descuento</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody v-if="arrayDetalle.length">
            <tr v-for="detalle in arrayDetalle" :key="detalle.id">
              <td v-text="detalle.articulo"></td>
              <td v-text="detalle.precio"></td>
              <td v-text="detalle.cantidad"></td>
              <td v-text="detalle.descuento"></td>
              <td>{{detalle.precio*detalle.cantidad-detalle.descuento}}</td>
            </tr>
            <tr style="background-color: #CEECF5;">
              <td colspan="4" align="right">
                <strong>Total Parcial:</strong>
              </td>
              <td>$ {{totalParcial=(total-totalImpuesto).toFixed(2)}}</td>
            </tr>
            <tr style="background-color: #CEECF5;">
              <td colspan="4" align="right">
                <strong>Total Impuesto:</strong>
              </td>
              <td>$ {{totalImpuesto=(total-(total/impuestodiv)).toFixed(2)}}</td>
            </tr>
            <tr style="background-color: #CEECF5;">
              <td colspan="4" align="right">
                <strong>Total Neto:</strong>
              </td>
              <td>$ {{total}}</td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="5">NO hay artículos agregados</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["ruta", "idventa", "idcliente"],
  data() {
    return {
      venta_id: this.idventa,
      cliente: "",
      cliente_id: this.idcliente,
      fecha_hora: "",
      impuesto: 0.13,
      tipo_comprobante: "",
      serie_comprobante: "",
      num_comprobante: "",
      arrayDetalle: [],
      arrayAbonos: [],
      total: 0,
      totalImpuesto: 0,
      impuestodiv: 1.13,
      saldo: 0,
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3
    };
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },
    //Calcula los elementos de la paginación
    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    }
  },
  methods: {
    verVenta() {
      let me = this;
      //Obtener los datos del ingreso
      var arrayVentaT = [];
      var url = this.ruta + "/venta/obtenerCabecera?id=" + this.venta_id;

      axios
        .get(url)
        .then(function(response) {
          console.log(response);
          var respuesta = response.data;
          arrayVentaT = respuesta.venta;

          me.cliente = arrayVentaT[0]["nombre"];
          me.fecha_hora = arrayVentaT[0]["fecha_hora"];
          me.tipo_comprobante = arrayVentaT[0]["tipo_comprobante"];
          me.serie_comprobante = arrayVentaT[0]["serie_comprobante"];
          me.num_comprobante = arrayVentaT[0]["num_comprobante"];
          me.impuesto = arrayVentaT[0]["impuesto"];
          me.total = arrayVentaT[0]["total"];
          me.saldo = arrayVentaT[0]["saldo"];
          //me.cliente_id = arrayVentaT[0]["cliente_id"];
        })
        .catch(function(error) {
          console.log(error);
        });

      //Obtener los datos de los detalles
      var urld = this.ruta + "/venta/obtenerDetalles?id=" + this.venta_id;

      axios
        .get(urld)
        .then(function(response) {
          //console.log(response);
          var respuesta = response.data;
          me.arrayDetalle = respuesta.detalles;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    cambiarPagina(page) {
      let me = this;
      //Actualiza la página actual
      me.pagination.current_page = page;
      //Envia la petición para visualizar la data de esa página
      me.historialAbonos(page);
    },

    historialAbonos(page) {
      let me = this;
      var urld = `${this.ruta}/abono/historial?idcliente=${this.cliente_id}&idtipopago=2&idventa=${this.venta_id}&page=${page}`;

      axios
        .get(urld)
        .then(function(response) {
          console.log(response);
          var respuesta = response.data;
          me.pagination = respuesta.pagination;
          me.arrayAbonos = respuesta.abonos.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  mounted() {
    this.verVenta();
    this.historialAbonos(1);
  }
};
</script>