<template>
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb"></ol>
    <div class="container-fluid">
      <!-- Ejemplo de tabla Listado -->
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Reporte de IVA- Ingresos
        </div>
        <!-- Listado-->
        <template v-if="listado==1">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-md-5">
                <label for>
                  <b>Perido Inicio</b>
                </label>
                <input type="date" class="form-control" v-model="finicio" />
              </div>
              <div class="col-md-5">
                <label for>
                  <b>Perido finalizaci&oacute;n</b>
                </label>
                <input type="date" class="form-control" v-model="ffinal" />
              </div>
              <div class="col-md-2 mt-4">
                <button type="button" class="btn btn-primary" @click="detalles_impuesto()">Calcular</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <p v-if="totalPagar>0">
                  <b>Total aproximado de Impuestos a Pagar:</b>
                  $ {{totalPagar}}
                </p>
                <p v-else>
                  <b>No se encontraron impuestos en los periodos de facturación seleccionados</b>
                </p>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Opciones</th>
                    <th>Comprobante</th>
                    <th>Serie del Comprobante</th>
                    <th>N&uacute;mero del comprobante</th>
                    <th>Fecha</th>
                    <th>Sumas</th>
                    <th>Iva Retenido</th>
                    <th>Total</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <template v-if="arrayIngreso.length>0">
                  <tbody>
                    <tr v-for="ingreso in arrayIngreso" :key="ingreso.id">
                      <td>
                        <button
                          type="button"
                          @click="verIngreso(ingreso.id)"
                          class="btn btn-success btn-sm"
                        >
                          <i class="icon-eye"></i>
                        </button>
                      </td>
                      <td v-text="ingreso.tipo_comprobante"></td>
                      <td v-text="ingreso.serie_comprobante"></td>
                      <td v-text="ingreso.num_comprobante"></td>
                      <td v-text="ingreso.fecha_hora"></td>
                      <td v-text="ingreso.sumas"></td>
                      <td v-text="ingreso.iva_retenido"></td>
                      <td v-text="ingreso.total"></td>
                      <td v-text="ingreso.estado"></td>
                    </tr>
                  </tbody>
                </template>
                <template v-else>
                  <tbody>
                    <tr>
                      <td colspan="8">No se han encontrado comprobantes de compra</td>
                    </tr>
                  </tbody>
                </template>
              </table>
            </div>
            <nav>
              <ul class="pagination">
                <li class="page-item" v-if="pagination.current_page > 1">
                  <a
                    class="page-link"
                    href="#"
                    @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)"
                  >Ant</a>
                </li>
                <li
                  class="page-item"
                  v-for="page in pagesNumber"
                  :key="page"
                  :class="[page == isActived ? 'active' : '']"
                >
                  <a
                    class="page-link"
                    href="#"
                    @click.prevent="cambiarPagina(page,buscar,criterio)"
                    v-text="page"
                  ></a>
                </li>
                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                  <a
                    class="page-link"
                    href="#"
                    @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)"
                  >Sig</a>
                </li>
              </ul>
            </nav>
          </div>
        </template>
        <!--Fin Listado-->
        <!-- Ver ingreso -->
        <template v-else-if="listado==2">
          <div class="card-body">
            <div class="form-group row border">
              <div class="col-md-9">
                <div class="form-group">
                  <label for>Proveedor</label>
                  <p v-text="proveedor"></p>
                </div>
              </div>
              <div class="col-md-3">
                <label for>Impuesto</label>
                <p v-text="impuesto"></p>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Tipo Comprobante</label>
                  <p v-text="tipo_comprobante"></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Serie Comprobante</label>
                  <p v-text="serie_comprobante"></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Número Comprobante</label>
                  <p v-text="num_comprobante"></p>
                </div>
              </div>
            </div>
            <div class="form-group row border">
              <div class="table-responsive col-md-12">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Artículo</th>
                      <th>Precio</th>
                      <th>Cantidad</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody v-if="arrayDetalle.length">
                    <tr v-for="detalle in arrayDetalle" :key="detalle.id">
                      <td v-text="detalle.articulo"></td>
                      <td v-text="detalle.precio"></td>
                      <td v-text="detalle.cantidad"></td>
                      <td>{{detalle.precio*detalle.cantidad}}</td>
                    </tr>
                    <tr style="background-color: #CEECF5;">
                      <td colspan="3" align="right">
                        <strong>Total Parcial:</strong>
                      </td>
                      <td>$ {{totalParcial=(total/1.13).toFixed(2)}}</td>
                    </tr>
                    <tr style="background-color: #CEECF5;">
                      <td colspan="3" align="right">
                        <strong>Total Impuesto :</strong>
                      </td>
                      <td>$ {{totalImpuesto=(total-(total/1.13)).toFixed(2)}}</td>
                    </tr>
                    <tr style="background-color: #CEECF5;">
                      <td colspan="3" align="right">
                        <strong>Total Neto:</strong>
                      </td>
                      <td>$ {{total}}</td>
                    </tr>
                  </tbody>
                  <tbody v-else>
                    <tr>
                      <td colspan="4">NO hay artículos agregados</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <button type="button" @click="ocultarDetalle()" class="btn btn-secondary">Cerrar</button>
              </div>
            </div>
          </div>
        </template>
        <!-- fin ver ingreso -->
      </div>
      <!-- Fin ejemplo de tabla Listado -->
    </div>
  </main>
</template>

<script>
import vSelect from "vue-select";
export default {
  props: ["ruta"],
  data() {
    return {
      totalPagar: 0,
      finicio: "",
      ffinal: "",
      ingreso_id: 0,
      idproveedor: 0,
      proveedor: "",
      nombre: "",
      tipo_comprobante: "BOLETA",
      serie_comprobante: "",
      num_comprobante: "",
      impuesto: 0.13,
      total: 0.0,
      totalImpuesto: 0.0,
      totalParcial: 0.0,
      arrayIngreso: [],
      arrayProveedor: [],
      arrayDetalle: [],
      listado: 1,
      modal: 0,
      tituloModal: "",
      tipoAccion: 0,
      errorIngreso: 0,
      errorMostrarMsjIngreso: [],
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0
      },
      offset: 3,
      criterio: "num_comprobante",
      buscar: "",
      criterioA: "nombre",
      buscarA: "",
      arrayArticulo: [],
      idarticulo: 0,
      codigo: "",
      articulo: "",
      precio: 0,
      cantidad: 0
    };
  },
  components: {
    vSelect
  },
  computed: {
    isActived: function() {
      return this.pagination.current_page;
    },
    //Calcula los elementos de la paginación
    pagesNumber: function() {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;
      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pagesArray = [];
      while (from <= to) {
        pagesArray.push(from);
        from++;
      }
      return pagesArray;
    },
    calcularTotal: function() {
      var resultado = 0.0;
      for (var i = 0; i < this.arrayDetalle.length; i++) {
        resultado =
          resultado +
          this.arrayDetalle[i].precio * this.arrayDetalle[i].cantidad;
      }
      return resultado;
    }
  },
  methods: {
    listarIngreso(page, buscar, criterio) {
      let me = this;
      var url =
        this.ruta +
        "/reporte/iva/ingresos?page=" +
        page +
        "&buscar=" +
        buscar +
        "&criterio=" +
        criterio +
        "&finicio=" +
        this.finicio +
        "&ffinal=" +
        this.ffinal;
      axios
        .get(url)
        .then(function(response) {
          var respuesta = response.data;
          me.arrayIngreso = respuesta.articulos.data;
          me.pagination = respuesta.pagination;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    cambiarPagina(page, buscar, criterio) {
      let me = this;
      //Actualiza la página actual
      me.pagination.current_page = page;
      //Envia la petición para visualizar la data de esa página
      me.listarIngreso(page, buscar, criterio);
    },
    mostrarDetalle() {
      let me = this;
      me.listado = 0;

      me.idproveedor = 0;
      me.tipo_comprobante = "BOLETA";
      me.serie_comprobante = "";
      me.num_comprobante = "";
      me.impuesto = 0.13;
      me.total = 0.0;
      me.idarticulo = 0;
      me.articulo = "";
      me.cantidad = 0;
      me.precio = 0;
      me.arrayDetalle = [];
    },
    ocultarDetalle() {
      this.listado = 1;
    },
    verIngreso(id) {
      let me = this;
      me.listado = 2;

      //Obtener los datos del ingreso
      var arrayVentaT = [];
      var url = this.ruta + "/ingreso/obtenerCabecera?id=" + id;

      axios
        .get(url)
        .then(function(response) {
          var respuesta = response.data;
          var arrayIngresoT = respuesta.ingreso;

          me.proveedor = arrayIngresoT[0]["nombre"];
          me.tipo_comprobante = arrayIngresoT[0]["tipo_comprobante"];
          me.serie_comprobante = arrayIngresoT[0]["serie_comprobante"];
          me.num_comprobante = arrayIngresoT[0]["num_comprobante"];
          me.impuesto = arrayIngresoT[0]["impuesto"];
          me.total = arrayIngresoT[0]["total"];
        })
        .catch(function(error) {
          console.log(error);
        });

      //Obtener los datos de los detalles
      var urld = this.ruta + "/ingreso/obtenerDetalles?id=" + id;

      axios
        .get(urld)
        .then(function(response) {
          console.log(response);
          var respuesta = response.data;
          me.arrayDetalle = respuesta.detalles;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    calcular_impuesto() {
      let me = this;
      var url =
        this.ruta +
        "/reporte/iva/calingresos?finicio=" +
        this.finicio +
        "&ffinal=" +
        this.ffinal;
      axios
        .get(url)
        .then(function(response) {
          var respuesta = response.data;
          console.log(respuesta);
          me.totalPagar = respuesta.facturas;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    detalles_impuesto() {
      //validando que todo este correcto
      if (!this.finicio || !this.ffinal) {
        swal(
          "Campos Vacios",
          "Debe de Completar los Rangos de Fechas",
          "error"
        );
      } else {
        if (Date.parse(this.ffinal) >= Date.parse(this.finicio)) {
          this.calcular_impuesto();
          this.listarIngreso(1, "", "num_comprobante");
        } else {
          swal(
            "Fechas No validas",
            "La fecha del periodo de Finalización debe ser mayor o igual que la fecha del periodo de inicio",
            "error"
          );
        }
      }
    }
  },
  mounted() {
    //this.listarIngreso(1, this.buscar, this.criterio);
  }
};
</script>
<style>
.modal-content {
  width: 100% !important;
  position: absolute !important;
}
.mostrar {
  display: list-item !important;
  opacity: 1 !important;
  position: absolute !important;
  background-color: #3c29297a !important;
}
.div-error {
  display: flex;
  justify-content: center;
}
.text-error {
  color: red !important;
  font-weight: bold;
}
@media (min-width: 600px) {
  .btnagregar {
    margin-top: 2rem;
  }
}
</style>
